{% extends 'base-login.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="columns is-flex-direction-column">
            <h1 class="title is-size-4">Se connecter</h1>
            <div class="column is-justify-content-center is-align-content-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="field">
                        <label class="label" for="inputEmail">Nom  Prénom</label>
                        <div class="control">
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" required autofocus>
                        </div>
                        </div>
                        <div class="field">
                            <label class="label" for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">Se connecter</button> 
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
