{% extends 'base.html.twig' %}

{% block title %}Page produit{% endblock %}

{% block body %}
        <!--Hero section-->
        <section class="hero is-link">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title is-size-4"> Description produit</p>
                </div>
            </div>
        </section>
        <!-- Section Gallery & Info product-->
        <section class="section">
            <div class="container">
                <div class="columns" style="height: 60vh;">
                    <div class="column">
                        <figure class="image is-3by2">
                            <img src="/Assets/Medias/{{ produit.image }}">
                        </figure>
                    </div>
                    <div class="column">
                        <h1 class="title is-size-4">{{ produit.name }}</h1>
                        <hr>
                        <div class="content">
                            <p><b>Provenance : </b>{{ produit.description | raw}}</p>
                            <p><b>Producteur : </b>{{ produit.producteur }}</p>
                            <p><b>Prix : {{ produit.prix }} € le Kg</b></p>
                            <div class="buttons">
                                <a href="{{ path('app_panierAdd',{'id':produit.id}) }}" class="button">Ajouter au panier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
