                    <div class="column is-one-quarter">
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="/Assets/Medias/{{ produit.image }}" alt="{{ produit.name }}">
                              </figure>
                            </div>
                            <div class="card-content">
                              <div class="media">
                                <div class="media-content">
                                  <p class="title is-4">{{ produit.name }}</p>
                                </div>
                              </div>
                              <div class="content">
                                <b>Provenance : </b>
                                  {{ produit.description |raw  }}
                                <br>
                                <b>Prix : {{ produit.prix }}€ /Unité</b>
                              </div>
                              <div class="buttons has-addons is-right">
                                <a href="/single" class="button">Acheter</a>
                              </div>
                            </div>
                        </div>
                    </div>